:root {
  --secondary-text-color: #757575;
  --main-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-accent-color: #ffffff;
  --adress-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-text-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.hidden {
  position: fixed;
  transform: scale(0);
}

/* header */

.header-logo {
  color: var(--accent-color);
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.additional-logo-color {
  color: var(--main-text-color);
}

.navigation-list-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.navigation-list-link:hover,
.navigation-list-link:focus {
  color: var(--accent-color);
}

.header-contacts-list-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.header-contacts-list-link:hover,
.header-contacts-list-link:focus {
  color: var(--accent-color);
}

/* end-header */

.hero {
  background-color: #757575;
}
/* hero */

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--secondary-accent-color);
}

.hero-btn {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-accent-color);
  cursor: pointer;
}

/* end-hero */

/* about-us */

.about-us-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.about-us-descr {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

/* end-about-us */

/* our-work */

.our-work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

/* end-our-work */

/* our-team */

.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

.our-team-list-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.our-team-list-descr {
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-text-color);
}

/* end-our-team */

/* footer */

.footer {
  background-color: brown;
}

.footer-logo {
  color: var(--accent-color);
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.additional-footer-logo-color {
  color: var(--secondary-accent-color);
}

.footer-adress-list-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--adress-color);
}

.footer-adress-list-link:hover,
.footer-adress-list-link:focus {
  color: var(--secondary-accent-color);
}

/* end-footer */
